#captcha_container {
	display: inline-block;
}

div.tech-wrapper {
	margin-left: 150px;
	padding-bottom: 275px;
}

ul.tech {
	float: left;
	margin-left: 10px;
}

span[name="esurance-intern"] {
	margin-left: 490px;
}

span[name ="uhg-intern"] {
	margin-left: 490px;
}

div.name-email {
	padding-top: 30px;
	text-align: center;
}

h2.header {
	letter-spacing: 1.5px;
}

div.wrapper {
	margin-left: 150px;
	margin-top: 100px;
	padding-bottom: 50px;
}

div.work-wrapper {
	margin-left: 150px;
	margin-top: 100px;
	padding-bottom: 50px;
}

span.resumeHeader {
    float: left;
    padding-right: 300px;
}

span.work-resumeHeader {
	float: left;
	padding-right: 200px;
}

i.date {
	padding-right: 450px;
}

p.date {
	display: inline-block;
}

span.body {
    display: inline-block;
}

span.work-body {
	display: inline-block;
	padding-bottom: 20px;
}

div[name="resume"] {
	line-height: 0.75;
	font-family: 'Lato', sans-serif;
}

div.header {
	text-align: center;
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

div.education {
	border-width: thin;
	padding-bottom: 10px;
}

div.workExperience {
	border-width: thin;
	padding-bottom: 10px;
}

div.recent {
	border-width: thin;
	padding-bottom: 10px;
}

div.extracirricular {
	border-width: thin;
}

div.technical {
	border-width: thin;
}

div.body {
	margin-left: 350px;
}

ul.resume-list {
    position: inline;
    margin-left: 450px;
}

ul.resume-list > li {
	padding-bottom: 5px;
	width: auto;
}

ul.resume-list {
	padding-bottom: 35px;
}

li[name="resume"]:not(:last-child) {
	//margin-bottom: 20px;
}

span.position {
	padding-right: 10px;
}

div.footer {
	top: 90%;
	left: 0px;
    height: 150px;
    width: 100%;
    background-color: #797878;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

p.captcha:hover {
	text-decoration: underline;
}

#map {
	text-align: center;
}

#gmap-button {
	background: none;
	border: none;
}

#gmap-body {
    height: 500px;
}
