li.match-item {
    display: block;
    width: 200%;
    height: 100px;
    border-top: 0.25px solid #CECECE;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

a.matchHeader {
    padding-top: 5px;
    font-family: 'Ubuntu', sans-serif;
    color: black !important;
}

div.matches-list {
}

div[name="query"] {
    margin-left: 0px;
    width: 50%;
}

.navbar {
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 100vw !important;
    width: 100vw !important;
    height: auto !important;
}

#nav-list {
    height: 50px;
    margin: 0;
    padding: 0;
}

li[name="nested"] {
    margin-top: -10px;
    height: 70px;
}

li[name="nested"] a {
    margin-top: 11.5px;
}

#nav-list a:hover {
    color: black !important;
}

#nav-list li:hover {
    background-color: white !important;
}

a.navbar-brand:hover {
    color: black !important;   
}

span[name="search"] {
    position: absolute;
	left: 88%;
}

span[name="nested"] {
    display: inline-block;
    padding-left: 10px;
}

i.fa.fa-search {
    font-size: 22px;
    color: white;
}

nav[name="header"] {
	background-color: #737373 !important;
    width: auto;
}

.navbar-brand {
	color: white !important;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

#navbarSupportedContent li a {
	color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
}

div.introduction {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 1.25;
    left: 20%;
    top: 50%;
    letter-spacing: 0.75px;
}

h1.welcome {
    font-family: 'Ubuntu', sans-serif;
    display: block; 
	margin: 0 auto;
	width: 40%;
	padding-top: 50px;
	border-bottom: 1.5px solid black;
	text-align: center; 
    letter-spacing: 2px;
}

#exampleFormControlTextarea1 {
	//width: 50%;
    width: auto;
    height: auto;
}

img[alt="1"] {
	width: 200px;
}

img[alt="2"] {
	width: 200px;
}

img[alt="3"] {
	width: 150px;
}

div.media {
}

img[alt="4"] {
	width: 25px;
}

img[alt="5"] {
	width: 25px;
}

span {
    padding-right: 15px;
}

div.parent {
    width: 100%;
    height: 100%;
    left: 0%;
    background-color: none;
    position: absolute;
}

div.outer {
    margin-left: 15%;
    top: 35%;
    width: 100%;
    height: 100%;
    background-color: none;
    position: absolute;
}

p.copyright {
	color: #0000000;
	position: relative;
	left: 550px;
}


button[name="submit"] {
    box-shadow: 10px 10px 5px grey;
    display: inline-block;
    float: left;
    
}

button[name="close"] {
    box-shadow: 10px 10px 5px grey;
}

div.footer {
	top: 90%;
	left: 0px;
    height: 150px;
    width: 100%;
    background-color: #797878;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    font-size: 15px;
}

div.form-group.contact {
	position: relative;
	width: 50%;
	left: 50px;
	margin-top: 10px;
}

div.form-check {
    left: 50px;
}

i.fa.fa-search {
}

html, body {
    min-width: 100%;
    min-height: 100%;
    height: auto;
    width: auto;
}

div.companies {
    padding-top: 600px;
    padding-left: 410px;
    padding-bottom: 200px;
}

div.outer {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 1.25;
    margin-left: 20%;
    top: 50%;
    letter-spacing: 0.75px;
}

p.footer {
    padding-top: 20px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 3px;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid black;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}

.fa.fa-linkedin-square {
    font-size: 35px;
    padding-right: 15px;
    padding-top: 10px;
}

.fa.fa-github-square {
    font-size: 35px;
}

button[name="search"] {
    padding: 0px;
    background: none;
    border: none;
    padding-right: 5px;
}

div.nested {
    height: auto;
    width: auto;
}

a.footer {
    color: white;
}

a.footer:hover {
    color: white;
}

#contact-captcha {
    display: inline-block;
    margin-left: 95px;
}

#search-box {
    border-radius: 1rem;
}