td:hover {
	font-weight: bold;
}

table {
	position: fixed;
	width: 25%;
	height: 100%; 
	display: inline-block;
	overflow-y: scroll;
}

td {
	padding-top: 10px;
	padding-bottom: 10px;
}

div.stackContent {
	position: absolute;
	left: 35%;
	width: 60%;
	height: 100%;
}

/* this is for the information components / pages */
div.info {
	top: 5%;
	position: absolute;
}

#lol {
	display: block;
	padding-bottom: 75px;
}

